.title {
  font-family: 'Playfair Display', sans-serif;
  font-size: 1.5rem;
}

.breadcrumbs {
  font-family: sans-serif;
  color: grey;
}

.content {
  text-align: left;
  font-family: 'Open Sans', sans-serif;
  position: relative;
  top: 5rem;
  width: 50rem;
  margin: 0 auto 0 auto;
  font-size: 1rem;
  line-height: 2rem;
}

.fileName {
  min-width: 30rem;
}

.fileName a {}

.fileName a:link, .fileName a:visited {
  opacity: .9;
  text-decoration: none;
  color: #fb6a4a;
  font-weight: 900;
}

.fileName :link:hover {
  background-color: white;
  opacity: 0.5;
  text-decoration: none;
  cursor: pointer;
}

.fileSize {
  font-size: .8rem;
}
